/*@import 'tailwindcss';*/

/*@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views!*.blade.php';*/
/*@source '../../storage/framework/views!*.php';*/
/*@source '..!**!*.blade.php';*/
/*@source '..!**!*.js';*/

/*@theme {*/
/*    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',*/
/*        'Segoe UI Symbol', 'Noto Color Emoji';*/
/*}*/


/*@import 'auth.css';*/
/*@import 'user.css';*/
/*!* استایل‌های پایه *!*/
/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
@import "./admin/nucleo-icons.css";
@import "./admin/nucleo-svg.css";
@import "./admin/soft-ui-dashboard.css";
@import 'vue-toast-notification/dist/theme-sugar.css';
@import "../fonts/Vazirmatn-font-face.css";


html, body {
    font-family: 'Vazirmatn', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
